.track {
  &-title, &-artist, &-album {
    color: white;
    text-transform: capitalize;
  }
  &-card-cover {
    margin: .5rem;
  }
}

.track-card {

  .track-card-cover {
    position: relative;

    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 4px 4px 0 0;
    }

    .play-button {
      position: absolute;
      bottom: 16px;
      right: 16px;
      z-index: 2;
      opacity: 0.9;
      transition: transform 0.2s, opacity 0.2s;

      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }
}
